# Task 1.1 Introduction (07.03.2025)

Preparations

In [5]:
#import libraries
import pandas as pd
import numpy as np
from sklearn import datasets
iris = datasets.load_iris(return_X_y=True, as_frame=True)
iris_df = iris[0] #use first iris data set

solving the setting up issues: 
```Bash
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser #issue resolved with ChatGPT

virtualenv venv # create new venv

.\venv\Scripts\activate #activate current venv
```

In [6]:
# checking the virtual environment:

iris_df.head() # Ausgabe der ersten fünf Zeilen des DataFrames

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

### **Task 1.1 Inroduction**

- create function *calcMeans* using *apply* function
- calculates means of each column
- *desrcibe* function to validate results of *calcMeans*

In [8]:
# function calcMeans: 
def calcMeans(dataframe):
    return dataframe.apply(lambda col: col.mean(), axis=0)

In [10]:
# function calcMeans on iris dataset
print(calcMeans(iris_df))

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [11]:
# validate results with describe function
print(iris_df.describe())

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

### Results
the means resulting from *calcMeans* are the same as using *describe* function